
Paieškos proceso ir jos rezultatų pateikimo vartotojams panaudojamumas/6 paskaita. Informacijos_architektūra 1 dalis.pdf
Paieškos proceso ir jos rezultatų pateikimo vartotojams panaudojamumas/8 paskaita. Euristinis_tikrinimas.pdf
Paieškos proceso ir jos rezultatų pateikimo vartotojams panaudojamumas/9 paskaita. Pažintine peržvalga_Tikrinimų organizavimas.pdf
Paieškos proceso ir jos rezultatų pateikimo vartotojams panaudojamumas/O'Reilly, Information Architecture for the World Wide Web, 3rd Edition, [Nov 2006].chm
